/*.profile{
  padding: 50px 0;
  border: 1px solid #ccc;
}*/

.profile img{
	min-height: 400px;
	max-height: 400px;
	min-width: 400px;
	max-height: 400px;
}

.profile ul{
	margin-top:30px;
  list-style: none;
}

.profile ul li{
	padding: 6px; 
	/*border:1px solid #ccc;*/
}