table {
	width:100%;
	border:1px solid #ccc;
}

table tr{
	border-bottom: 1px solid #ccc !important;
}

table tr td{
	padding: 10px;
	font-size: 14px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table tr th{
	padding: 10px;
	font-size: 14px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
img{
	min-width: 100px;
	max-width: 100px;
	min-height:100px;
	max-height: 100px;
}

.action_buttons ul {
	list-style: none;
	float: right;
}

.action_buttons ul li {
 display: inline-block;
 padding-left: 15px;

}

.btn-primary{
   text-transform: uppercase;
   font-size: 14px;
   color: #fff;
   background: green;
   border: 1px solid green;
   padding: 10px;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}